<nav class="navbar navbar-light bg-light sticky-top">
    <div class="container-md">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false" >Change chatbot
            </button>
            <ul class="dropdown-menu">
                <li><a href="/" class="dropdown-item">AI Chatbud</a></li>
                <li> <a class="btn btn-light" href="/image">Image Generator</a></li>
            </ul>

        </div>
         <span class="navbar-text fw-bold text-primary">
              CODEBUDDY
        </span>

    </div>
</nav>
